.home {
  padding-top: 20px;
  padding-left: 20px;
  background-image: url('images/istockphoto.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.list {
  padding-bottom: 10px;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
